body{
	background-image: url("vinyle.jpg");
	background-size: cover;
}
.navbar {
	background-color: rgba(255, 255, 255, 0.6)!important;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;

}
.form-control{
	border-radius: 1px;
	background-color: rgba(255, 255, 255, 0.7);
}
form a{
	font-size: 145%;
	color: rgba(0, 0, 0, 0.8);
}

#middlebody h2{
	-webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
	text-transform: uppercase;
    letter-spacing: .12em;
    font-size: 24px;
	margin-top: 14px;
    margin-bottom: 7px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	-webkit-box-sizing: border-box;
	display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
	font-weight: bold;
	text-align: center;
}
#middlebody pre{	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
    color: black;
    text-align: center;
}

    
#middlebody a{
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 1px;
  font-family: 'Montserrat', sans-serif;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  margin-left: 645.575px;
  margin-right: 645.575px;
  margin-top: 20px;
}

#middlebody a:hover {
  background-color: #4B4D4B;
  border-width: 1px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
} 
footer{
	background-color: rgba(255, 255, 255, 0.333);
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 32, 1366, 32, 1366;
	}

#socialmedia{
	text-align: center;
    height: 32px;

}
.footer-copyright{
	text-align: center !important;
    height: 44px;
}
footer div a{
	color: black;
}
